<div class="gu-group">
  <button mat-raised-button color="primary" (click)="addRole()"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Add Role</button>
</div>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr [formGroup]="form" novalidate>
        <td class="align-middle">
          <mat-form-field>
            <input matInput placeholder="Role Name" type="text" formControlName="role_name">
            <mat-error>
              {{validatorName.role_name}}
            </mat-error>
          </mat-form-field>
        </td>
        <td class="align-middle">
          <mat-checkbox formControlName="is_all_user">Is All User</mat-checkbox>
        </td>
        <td class="align-middle">
          <mat-checkbox formControlName="is_active">Is Active</mat-checkbox>
        </td>
        <td class="align-middle">
          <div class="gu-group">
            <button mat-raised-button color="primary" (click)="addEditRole(form)"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;Save</button>
          </div>
        </td>
      </tr>
    </thead>
    <thead>
      <tr>
        <th>Role Name</th>
        <th>Is All User</th>
        <th>Is Active</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let role of dataSource$ | async">
        <td class="align-middle">{{ role.role_name }}</td>
        <td class="align-middle">
          <mat-checkbox [checked]="role.is_all_user" [disabled]="true"></mat-checkbox>
        </td>
        <td class="align-middle">
          <mat-checkbox [checked]="role.is_active" [disabled]="true"></mat-checkbox>
        </td>
        <td class="align-middle">
          <mat-chip [popover]="popTemplate" popoverTitle="Manage List" triggers="focus" (click)=editRole(role.id)
            [disabled]="role.id===1 ? true : false"><i class="fa fa-cog">&nbsp;&nbsp;</i>Manage</mat-chip>
          <ng-template #popTemplate>
            test
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- 
<mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="role_name">
    <mat-header-cell *matHeaderCellDef> Role Name </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-form-field floatLabel="never">
        <input matInput [value]="element.role_name" [(ngModel)]="element.role_name" (change)="addEditRole(element)">
      </mat-form-field>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="is_all_user">
    <mat-header-cell *matHeaderCellDef> Is All User </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-checkbox (change)="addEditRole(element)" [(ngModel)]="element.is_all_user" [checked]="element.is_all_user"
        [disabled]="element.role_id === 1 ? true : false"></mat-checkbox>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="is_active">
    <mat-header-cell *matHeaderCellDef> Is Active </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-checkbox (change)="addEditRole(element)" [(ngModel)]="element.is_active" [checked]="element.is_active"
        [disabled]="element.role_id === 1 ? true : false"></mat-checkbox>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="manage">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-chip><i class="fa fa-cog">&nbsp;&nbsp;</i>Manage</mat-chip>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table> -->
