<h1 mat-dialog-title>Menu Manage</h1>

<div mat-dialog-content>
  <div class="row wrapper" dragula="COLUMNS" [(dragulaModel)]="inputGroupMenu">
    <div class="col-md-4 gu-group" *ngFor="let group of inputGroupMenu">
      <mat-card>
        <span class="group-handle">{{group.webpage_group_name}}</span>
        &nbsp;
        <i matTooltip="Add Menu" matTooltipPosition="right" class="fa fa-plus pointer" aria-hidden="true" (click)="openAddMenuDialog(group)"></i>
        <div class="gu-menu-list" dragula="ITEMS" [(dragulaModel)]="group.menu">
          <div class="gu-menu" *ngFor="let menu of group.menu">
            <span [innerHtml]="menu.webpage_name"></span>
            &nbsp;
            <span matTooltip="Edit Menu" matTooltipPosition="right" class="fa fa-edit" (click)="openEditMenuDialog(menu,group)"></span>
            &nbsp;
            <span matTooltip="Delete Menu" matTooltipPosition="right" class="fa fa-trash" (click)="delMenu(menu.webpage_id,menu.webpage_name)"></span>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="inputGroupMenu">Close</button>
</div>
