<div class="table-responsive">
  <table class="table">
    <thead [formGroup]="form" novalidate #formTarget>
      <tr>
        <td colspan="4" class="align-middle">
          <div class="gu-group">
            <button mat-raised-button color="primary" (click)="addEditRole(form)"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;&nbsp;{{form.get('titleAddEdit').value}}</button>
            &nbsp;<button mat-raised-button color="accent" (click)="createForm()"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;&nbsp;Cancel</button>
            <ng-container *ngIf="form.value.addTitleDelete">
              &nbsp;<button mat-raised-button color="warn" (click)="deleteRole(form)"><i class="fa fa-trash"
                  aria-hidden="true"></i>&nbsp;&nbsp;Delete</button>
            </ng-container>
          </div>
        </td>
      </tr>
      <tr>
        <td class="align-middle">
          <mat-form-field>
            <input matInput placeholder="Role Name" type="text" formControlName="role_name">
            <mat-error>
              {{validatorName.role_name}}
            </mat-error>
          </mat-form-field>
        </td>
        <td class="align-middle">
          <mat-checkbox formControlName="is_all_user">Is All User</mat-checkbox>
        </td>
        <td class="align-middle">
          <mat-checkbox formControlName="is_active">Is Active</mat-checkbox>
        </td>
        <td class="align-middle">
        </td>
      </tr>
    </thead>

    <thead>
      <tr>
        <th>Role Name</th>
        <th>Is All User</th>
        <th>Is Active</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let role of dataSource$ | async" id="roleTR-{{ role.id }}">
        <td class="align-middle">{{ role.role_name }}</td>
        <td class="align-middle">
          <mat-checkbox [checked]="role.is_all_user" [disabled]="true"></mat-checkbox>
        </td>
        <td class="align-middle">
          <mat-checkbox [checked]="role.is_active" [disabled]="true"></mat-checkbox>
        </td>
        <td class="align-middle">
          <ng-container *ngIf="role.id!==1">
            <mat-chip (click)=getRole(role.id)><i class="fa fa-edit">&nbsp;&nbsp;</i>Edit</mat-chip>
          </ng-container>
        </td>
      </tr>
    </tbody>

  </table>
</div>
<div #scrollingBottom></div>

<!-- 
<mat-table [dataSource]="dataSource$">

  <ng-container matColumnDef="role_name">
    <mat-header-cell *matHeaderCellDef> Role Name </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.role_name }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="is_all_user">
    <mat-header-cell *matHeaderCellDef> Is All User </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-checkbox [checked]="element.is_all_user" [disabled]="true"></mat-checkbox>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="is_active">
    <mat-header-cell *matHeaderCellDef> Is Active </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-checkbox [checked]="element.is_active" [disabled]="true"></mat-checkbox>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="manage">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-chip (click)=editRole(element.id)><i class="fa fa-cog">&nbsp;&nbsp;</i>Manage</mat-chip>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<div #scrollingBottom></div> -->
